*.egg-info
*.iml
*.swo
*.swp
.DS_Store
.bash_history
.cfg
.env
.idea
.netrwhist
.node-gyp
.npm
.ropeproject
env
node_modules
integrationtests/handlers/logs/
tags
.offlineimap
.offlineimap-helpers.py
.gradle
